<div th:fragment="siteNav(activeLink)"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div  class="nav-inner" sec:authorize="hasRole('ADMIN')">
        <div class="center">
            <ul>
                <li th:classappend="${activeLink == 'rooms'} ? 'active'">
                    <a th:href="@{/admin/rooms}">룸 관리</a>
                </li>

                <li th:classappend="${activeLink == 'roomrules'} ? 'active'">
                    <a th:href="@{/admin/roomrules}">룸 규칙 관리</a>
                </li>

                <li th:classappend="${activeLink == 'operation-policies'} ? 'active'">
                    <a th:href="@{/admin/operation-policies}">운영 정책</a>
                </li>

                <li th:classappend="${activeLink == 'refund/policy'} ? 'active'">
                    <a th:href="@{/admin/refund/policy/list}">환불 정책</a>
                </li>


                <li th:classappend="${activeLink == 'reservations'} ? 'active'">
                    <a th:href="@{/admin/reservations}">예약관리</a>
                </li>
            </ul>
        </div>
    </div>
</div>