<div th:fragment="siteFooter" class="footer-inner">
    <div class="footer-top">
        <div class="footer-left">
            <div class="footer-brand">
                <span class="brand-mark small">SR</span>
                <span>StudyRoom</span>
            </div>
            <p class="footer-desc">
                최고의 스터디 공간을 제공하는 프리미엄 예약 플랫폼
            </p>
        </div>

        <div class="footer-right">
            <a class="footer-link" th:href="@{/swagger-ui/index.html}">API Docs</a>
            <a class="footer-link" th:href="@{/}">Home</a>
        </div>
    </div>
    <div class="footer-bottom">
        © 2026 스터디룸. All rights reserved.
    </div>
</div>