<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"><title>비밀번호 변경</title>
    <link rel="stylesheet" th:href="@{/css/fragment-style.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>

<Header th:insert="~{fragment/header :: siteHeader(activeLink='')}"></Header>
<nav th:insert="~{fragment/admin-nav :: siteNav('')}"></nav>
<div class="container">
    <h2>비밀번호 변경</h2>

    <div class="edit-profile-container">
        <form th:action="@{/my/password}"
              th:object="${memberPasswordChangeRequest}"
              method="post" class="edit-form">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />
            <div class="form-group">
                <div class="password-section">
                    <input type="password" placeholder="현재 비밀번호" class="mb-sm" th:field="*{currentPassword}">
                    <div class="field-error" th:errors="*{currentPassword}"></div>

                    <input type="password" placeholder="새 비밀번호" class="mb-sm" th:field="*{newPassword}">
                    <div class="field-error" th:errors="*{newPassword}"></div>

                    <input type="password" placeholder="새 비밀번호 확인" th:field="*{newPasswordConfirm}">
                    <div class="field-error" th:errors="*{newPasswordConfirm}"></div>
                </div>

                <button type="submit" class="btn-save-main">변경</button>
            </div>
        </form>
    </div>

    <div class="footer-actions">
        <a th:href="@{/my}" class="back-link">취소</a>
    </div>
</div>
<Footer th:insert="~{fragment/footer :: siteFooter}"></Footer>
</body>
</html>